# Dependencias
node_modules/

# Build
dist/

# Variables de entorno
.env
.env.local
.env.*.local

# Prisma
prisma/generated/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
